*{
    margin: 0;
    padding: 0;
    font-family: D-DIN Exp;
}


body{
    background-color: #E5E5E5;
}

/* START CONTAINER */
.container-retail{
    width: 360px;
    height: auto;
    margin: auto;
    background: #fff;
    padding: 10px;
}

/* END CONTAINER */

/* START HEADER */
.logo-retail{
    width: 158px;
    height: 76px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.marketplace, .retail{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}


.title-retail p{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    letter-spacing: 1px;
}

.title-retail {
    margin-top: 15px;
}
/* END HEADER */

/* START CARD MENU */
.card-icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.menu-icons{
    width: 148px;
    height: 203px;
    border-radius: 10px;
    box-shadow: 0px 8px 10px 0px #0000001F;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-icon{
    height: 100px;
    width: 100px;
    padding: 5px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu-icons p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    padding: 5px;
    color: #010101;
}

.card-icon a{
    text-decoration: none;
}
/* END CARD MENU */

/* START BUTTON PESANAN */
.pesanan-saya{
    height: 50px;
    width: 340px;
    background: #FFC535;
    margin: 30px auto 10px auto;
    border-radius: 4px;
    box-shadow: 0px 8px 10px 0px #0000001F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    z-index: 999;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}
.button-pesanan{
    text-decoration: none;
}
/* END BUTTON PESANAN */

/* START FOOTER */
.logo-powered{
    margin: 70px auto 10px auto;
    width: 174px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-powered{
    margin: 0 10px;
}

.text-powered p{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.img-powered{
    width: 50px;
    height: 30px;
}
/* END FOOTER */


