*{
    margin: 0;
    padding: 0;
    font-family: D-DIN Exp;
}


body{
    background-color: #E5E5E5;
}

.container-retail{
    width: 360px;
    height: auto;
    margin: auto;
    background: #fff;
    padding: 25px;
}

.logo-retail{
    width: 158px;
    height: 76px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.marketplace, .retail{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}


.title-retail p{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    letter-spacing: 1px;
}

.title-retail {
    margin-top: 15px;
}

.card-icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.menu-icons{
    width: 148px;
    height: 203px;
    border-radius: 10px;
    box-shadow: 0px 8px 10px 0px #0000001F;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-icon{
    height: 100px;
    width: 100px;
    padding: 5px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu-icons p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    padding: 5px;
    color: #010101;
}

.card-icon a{
    text-decoration: none;
}

.logo-powered{
    margin: 70px 0 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


